<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Test</title>
  <link rel="stylesheet" href="{{url_for('static',filename='logo.jpg')}}">
</head>
<body>
  <nav>
    <div class="container-fuleid">
      <a href="#" class="nav-barand">
        <img src="{{url_for('static',filename='logo.jpg')}}" alt="logo" 
        width="30px" height="30px" class="d-inline-block align-text-top" >
        JimeShapedCoding
      </a>
    </div>
  </nav>
  
</body>
</html>