*{
  margin:0 0;
  padding:0 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin:20px auto;
  width: 1000px;
  height: 1000px ;
}

.container{
  width: 400px;
  height: 300px;
  background-color: #984f4f;
  margin: 20px auto;

}

h3  {
  text-align: center;

}

p {
  margin :25px 0px 0px 0px ;
  text-align: center;
  font-size: 28px;
}

